<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<p>名称 {{ .user.Name }}</p>
<p>年龄 {{ .user.Age }}</p>
<p>性别 {{ .user.Gender }}</p>
​
<p>名称 {{ .m.name }}</p>
<p>年龄 {{ .m.age }}</p>
<p>性别 {{ .m.gender }}</p>

<hr>
       {{if .carList}}
       {{range .carList}}
         <div>{{ . }}</div>
         {{else}}<div>
            <strong>no rows</strong></div>{{end}}
        {{else}}
            <p>carList为空</p>
        {{end}}
</body>
</html>　　